---
- name: Restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted
    daemon_reload: yes

- name: Restart alertmanager
  ansible.builtin.systemd:
    name: alertmanager
    state: restarted
    daemon_reload: yes

- name: Restart loki
  ansible.builtin.systemd:
    name: loki
    state: restarted
    daemon_reload: yes

- name: Restart grafana
  ansible.builtin.systemd:
    name: grafana-server
    state: restarted
