---
- name: Restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
    daemon_reload: yes

- name: Restart promtail
  ansible.builtin.systemd:
    name: promtail
    state: restarted
    daemon_reload: yes
